body{
    background-color: #000;
    color: #fff;
}
.navbar {
  height: 56px;
}

footer {
  height: 56px;
    color: #45fb4a;
    text-align: center;
}

.page-container {
    min-height: calc(100vh - 112px);
}

.canvas-container {
  height: calc(100vh - 112px);
}